<style type="text/css">
  :root {
    overflow: hidden;
  }
  #loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 9;
    transition: opacity .55s ease-in-out;
    opacity: 0;
  }
  #loading.visible {
    opacity: 1;
  }
  #svg-gradient {
    width: 0;
    height: 0;
    position: absolute;
  }
  #svg-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .polygon-base {
    opacity: 1;
  }
  .polygon-multiply {
    mix-blend-mode: multiply;
    opacity: .1;
  }
</style>

<svg id="svg-gradient" aria-hidden="true" focusable="false">
  <!-- http://www.brandgradients.com/ubuntu-colors/ -->
  <!-- https://design.ubuntu.com/brand/colour-palette/ -->
  <linearGradient id="ubuntu-gradient" x2="1" y2="1">
    <stop offset="0%" stop-color="#dd4814" />
    <stop offset="100%" stop-color="#77216f" />
  </linearGradient>
</svg>

<svg id="svg-background" preserveAspectRatio="none" viewBox="0 0 370 650" aria-hidden="true" focusable="false">
  <g fill="url(#ubuntu-gradient) #5a488d" fill-rule="evenodd" transform="translate(0 -7)">
    <polygon points="0 657 370 657 370 7 0 7" class="polygon-base" />
    <polygon points="370 0 0 657 370 657" class="polygon-multiply" />
    <polygon points="0 657 370 350 370 657" class="polygon-multiply" />
    <polygon points="370 658 0 7 370 7" class="polygon-multiply" />
    <polygon points="0 657 370 -720 370 657" class="polygon-multiply" />
  </g>
</svg>

<div id="loader-spinner">${ require('./spinners/bouncing-balls.html') }</div>

<script type="text/javascript">
const reqAnimationFrame = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.msRequestAnimationFrame || window.setTimeout;

window.stopLoading = () => {
  const loadingWrapper = document.getElementById('loading');

  if (!loadingWrapper) {
    return;
  }

  const stopLoading = () => { loadingWrapper.remove(); };
  const fadeLoading = () => {
    loadingWrapper.className = undefined;

    setTimeout(() => {
      reqAnimationFrame(stopLoading);
    }, 560);
  };

  reqAnimationFrame(fadeLoading);
};

window.stopLoadingWithDelay = (delay = 200) => {
  setTimeout(window.stopLoading, delay);
};
</script>
