<style type="text/css">
  :root {
    overflow: hidden;
  }
  #loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 9;
    transition: opacity .55s ease-in-out;
    opacity: 0;
  }
  #loading.visible {
    opacity: 1;
  }
  #svg-gradient {
    width: 0;
    height: 0;
    position: absolute;
  }
  #svg-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .polygon-base {
    opacity: 1;
  }
  .polygon-multiply {
    mix-blend-mode: multiply;
    opacity: .1;
  }
  .folding-cube {
    position: absolute;
    display: inline-block;
    height: 120px;
    width: 120px;
    /* Pythagoras => Math.sqrt(120^2 + 120^2) = 169.7056 px => 170px / 2 = 85px */
    top: calc(50% - 85px);
    left: calc(50% - 85px);

    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    z-index: 10;
  }
  .folding-cube-animation {
    -webkit-animation: shadowCube 3.2s infinite linear both;
    animation: shadowCube 3.2s infinite linear both;
  }
  .folding-cube .cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
  }
  .folding-cube .cube::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c34f4f;
    border-top-left-radius: 4px;
  }
  .folding-cube-animation .cube::before {
    -webkit-animation: foldCubeAngle 3.2s infinite linear both;
    animation: foldCubeAngle 3.2s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  .folding-cube-animation .cube:nth-child(2) {
    -webkit-transform: scale(1.02) rotateZ(90deg);
    transform: scale(1.02) rotateZ(90deg);
  }
  .folding-cube-animation .cube:nth-child(2)::before {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .folding-cube-animation .cube:nth-child(3) {
    -webkit-transform: scale(1.02) rotateZ(270deg);
    transform: scale(1.02) rotateZ(270deg);
  }
  .folding-cube-animation .cube:nth-child(3)::before {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  .folding-cube-animation .cube:nth-child(4) {
    -webkit-transform: scale(1.02) rotateZ(180deg);
    transform: scale(1.02) rotateZ(180deg);
  }
  .folding-cube-animation .cube:nth-child(4)::before {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }

  @-webkit-keyframes shadowCube {
    0%, 60% {
      box-shadow: 0 0 0 0 #2220;
    }
    64%, 76% {
      box-shadow: 0 0 32px 10px #2224;
    }
    80%, 100% {
      box-shadow: 0 0 0 0 #2220;
    }
  }

  @keyframes shadowCube {
    0%, 60% {
      box-shadow: 0 0 0 0 #2220;
    }
    64%, 76% {
      box-shadow: 0 0 32px 10px #2224;
    }
    80%, 100% {
      box-shadow: 0 0 0 0 #2220;
    }
  }

  @-webkit-keyframes foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }
    25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }
    90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }
  @keyframes foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }
    25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }
    90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }
</style>

<svg id="svg-gradient" aria-hidden="true" focusable="false">
  <!-- http://www.brandgradients.com/ubuntu-colors/ -->
  <linearGradient id="ubuntu-gradient" x2="1" y2="1">
    <stop offset="0%" stop-color="#dd4814" />
    <stop offset="100%" stop-color="#77216f" />
  </linearGradient>
</svg>

<svg id="svg-background" preserveAspectRatio="none" viewBox="0 0 370 650" aria-hidden="true" focusable="false">
  <g fill="url(#ubuntu-gradient) #5a488d" fill-rule="evenodd" transform="translate(0 -7)">
    <polygon points="0 657 370 657 370 7 0 7" class="polygon-base" />
    <polygon points="370 0 0 657 370 657" class="polygon-multiply" />
    <polygon points="0 657 370 350 370 657" class="polygon-multiply" />
    <polygon points="370 658 0 7 370 7" class="polygon-multiply" />
    <polygon points="0 657 370 -720 370 657" class="polygon-multiply" />
  </g>
</svg>

<div id="folding-cube" class="folding-cube folding-cube-animation">
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
</div>

<script type="text/javascript">
const reqAnimationFrame = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.msRequestAnimationFrame || window.setTimeout;

window.stopLoading = () => {
  const loadingWrapper = document.getElementById('loading');

  if (!loadingWrapper) {
    return;
  }

  const stopLoading = () => { loadingWrapper.remove(); };
  const fadeLoading = () => {
    loadingWrapper.className = undefined;

    setTimeout(() => {
      reqAnimationFrame(stopLoading);
    }, 560);
  };

  reqAnimationFrame(fadeLoading);
};

window.stopLoadingWithDelay = (delay = 200) => {
  setTimeout(window.stopLoading, delay);
};
</script>
