@main-color: #41b883;
@main-dark-color: darken(@main-color, 20%);
@main-light-color: lighten(@main-color, 25%);
@secondary-color: #35495e;
@secondary-dark-color: darken(@secondary-color, 25%);
@secondary-light-color: lighten(@secondary-color, 25%);
@color-letter: #495057;
@color-light-letter: lighten(@color-letter, 20%);
@color-shadow: rgba(0, 0, 0, 0.05);
@color-background: #f8f9fa;
@color-white: #fff;
@color-red: #e53935;
@color-heart: #d90000;
